<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Форма создания рецепта</title>
<link rel="stylesheet" href="css\dish_create.css">
</head>
<body>
<div class="container">
    <h1>Создание нового рецепта</h1>
    <form id="recipeForm">
        <div class="form-row">
            <label for="recipeName">Название рецепта:</label>
            <input type="text" id="recipeName" name="recipeName" required>
        </div>
        <div class="form-row">
            <label for="photo">Фото:</label>
            <input type="file" id="photo" name="photo">
        </div>
        <div class="form-row ingredients-row">
            <label for="ingredients">Ингредиенты:</label>
            <input type="text" name="ingredientName" placeholder="Название" required>
            <input type="number" name="ingredientWeight" placeholder="Вес (г)" required>
            <input type="number" name="ingredientCalories" placeholder="Калории" readonly>
        </div>
        <div class="form-row">
            <label for="instructions">Инструкции:</label>
            <textarea id="instructions" name="instructions" rows="6" required></textarea>
        </div>
        <div class="form-row">
            <button type="submit">Сохранить рецепт</button>
        </div>
    </form>
</div>
</body>
</html>
