<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}Профиль пользователя{% endblock %}
{% block content %}

<title>Профиль пользователя</title>
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="profile-container">

    <div class="logout-button">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button">Выйти из профиля</button>
        </form>
    </div>

    <div class="profile-header">
        {% if user.profile_image.url %}
            <img src="{{ user.profile_image.url }}" style="width: 200px; height: auto;">
        {% else %}
            <img src="{% static 'images/default/none_png.png' %}" style="width: 200px; height: auto;">
            <span>{{ user.profile_image.url }}</span>
        {% endif %}
        
        <div>
            <h2>{{ user.user.first_name }} {{ user.user.last_name }} {{ user.middle_name }}</h2> <!-- Отображаем ФИО -->
            <p>{{ user.user.email }}</p>
        </div>
    </div>

    <div class="profile-details">
        <h3>О себе</h3>
        <p>{{ user.bio }}</p>

        <h3>Дополнительная информация</h3>
        <p><strong>Возраст:</strong> {{ user.age }}</p>
        <p><strong>Город:</strong> {{ user.city }}</p>
        <p><strong>Страна:</strong> {{ user.country }}</p>
    </div>

    <button onclick="toggleEditForm()">Редактировать профиль</button>

    <div class="saved-dishes-button">
        <a href="{% url 'saved_dishes' %}" class="button">Перейти к сохраненным блюдам</a>
    </div>

    <div class="edit-form" id="editForm" style="display: none;">
        <h3>Редактировать профиль</h3>
        <form id="profileEditForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="profile_image">Фото профиля:</label>
            <input type="file" id="profile_image" name="profile_image">
            
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="first_name" value="{{ user.user.first_name }}">

            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="last_name" value="{{ user.user.last_name }}">

            <label for="middleName">Отчество:</label>
            <input type="text" id="middleName" name="middle_name" value="{{ user.middle_name }}">

            <label for="email">Электронная почта:</label>
            <input type="email" id="email" name="email" value="{{ user.user.email }}">

            <label for="bio">О себе:</label>
            <textarea id="bio" name="bio">{{ user.bio }}</textarea>

            <label for="age">Возраст:</label>
            <input type="number" id="age" name="age" value="{{ user.age }}">

            <label for="city">Город:</label>
            <input type="text" id="city" name="city" value="{{ user.city }}">

            <label for="country">Страна:</label>
            <input type="text" id="country" name="country" value="{{ user.country }}">

            <button type="submit">Сохранить изменения</button>
            <button type="button" onclick="toggleEditForm()">Отмена</button>
        </form>
    </div>
</div>

<script>
    function toggleEditForm() {
        const editForm = document.getElementById('editForm');
        editForm.style.display = editForm.style.display === 'none' ? 'block' : 'none';
    }
</script>
{% endblock %}
