body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
}

.product-details {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}